.playground_elements {
    height: 400px;
}

#playground {
    cursor: url("asset/target.png") default;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background: url("asset/world.png");
}

#game_over_box {
    visibility: collapse;
    position: absolute;
    top: 40%;
    right: 25%;
    height: 20%;
    width: 50%;
    padding-top: 10%;
    color: #ffffff;
    text-align: center;
    border: solid 2px white;
    background: #d21f43;
}

#score_indicator {
    width: 300px;
    opacity: 0.5;
    background: #ff5d67;
}

.virus {
    width: 82px;
    height: 77px;
    position: absolute;
    background: url("asset/virus.png");
}