.playground_elements {
    border: darksalmon 1px solid;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#playground {
    width: 600px;
    background: url("asset/world.png");
}

#game_over_box {
    visibility: hidden;
    position: relative;
    top: 30%;
    height: 20%;
    left: 25%;
    width: 50%;
    padding-top: 10%;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    background: chocolate;
}

#score_indicator {
    width: 600px;
    opacity: 0.5;
    background: #ff5d67;
}